head
    title Аукцион
    link(rel='stylesheet', href='/css/index.min.css', type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
body
    nav.navigator
        a(href='/') Главная
        a(href='/users') Пользователи
        a(href='/settings') Настройки
    .container
        .cards-title Галерея
        .cards-container
            each painting in paintings
                a.card(href=`/painting/${painting.id}`)
                    img.card__image(src=painting.image alt=painting.title)
                    .card__content
                        h2.card__title= painting.title
                        p.card__author= painting.author
                        p.card__country= painting.country
                        p.card__price= `${painting.startPrice}$`
                        .card__steps
                            p.card__min-step= `Min step: ${painting.minStep}$`
                            p.card__max-step= `Max step: ${painting.maxStep}$`
                        span(class=`card__in-auction ${painting.available ? 'available' : 'not-available'}`)= painting.available ? 'В аукционе': 'Не в аукционе'
    script(src='/js/index.js')
