- let months = ["Января", "Февраля", "Марта", "Апреля", "Мая", "Июня", "Июня", "Августа", "Сентября", "Октября", "Ноября", "Декабря"]

head
    title Аукцион
    link(rel='stylesheet', href='/css/index.min.css', type='text/css')
body
    nav.navigator
        a(href='/') Главная
        a(href='/users') Пользователи
        a(href='/settings') Настройки
    .success-popup Данные успешно изменены
    .container
        header.header
            h1.header__title= painting.title
            .header__content
                span.header__author= painting.author
                span.header__country= painting.country
        .painting-content(id=painting.id)
            main.main
                div(class=`image ${painting.available ? 'available' : 'not-available'}`
                    data-available=painting.available ? 'В аукционе': 'Не в аукционе')
                    img.main__image(src=painting.image alt=painting.title height=600)
                .desctiption.card-info
                    .top.description__title Описание
                    p.bottom.description__content= painting.desc
            aside.aside
                .bid-and-date.card-info
                    .top
                        p.bid-and-date__remain До начала аукциона:
                        .timer
                            .time__day
                                span 0
                                span days
                            .time__hour
                                span 0
                                span hrs
                            .time__minute
                                span 0
                                span mins
                            .time__second
                                span 0
                                span secs
                    .bottom.bid
                        .bid__info
                            p Текущая цена
                            p Никто не поставил
                        .bid__price $ #{painting.startPrice}
                        .min-max-bids
                            p.min-bid Мин. шаг: $#{painting.minStep}
                            p.max-bid Макс. шаг: $#{painting.maxStep}
                        button.bid__button.button Поставить
                .auction-info.card-info
                    .top
                        .auction-info__title
                            h3 Информация об аукционе
                    .bottom
                        .auction-info__start-date
                            span Начало аукциона:
                            span #{new Date(auctionInfo.auctionStartDate).getDate()} #{months[new Date(auctionInfo.auctionStartDate).getMonth()]} #{new Date(auctionInfo.auctionStartDate).getFullYear()} #{new Date(auctionInfo.auctionStartDate).getHours()}:#{new Date(auctionInfo.auctionStartDate).getMinutes()}
                        .auction-info__end-date
                            span Конец аукциона:
                            span #{new Date(auctionInfo.auctionEndDate).getDate()} #{months[new Date(auctionInfo.auctionEndDate).getMonth()]} #{new Date(auctionInfo.auctionEndDate).getFullYear()} #{new Date(auctionInfo.auctionEndDate).getHours()}:#{new Date(auctionInfo.auctionEndDate).getMinutes()}
                .editing.card-info
                    .top.editing__title
                        h3 Редактирование картины
                    .bottom.editing__content
                        .editing__field
                            p.editing__attr-name Название:
                            div.editing__name(contenteditable='true')= painting.title
                        .editing__field
                            p.editing__attr-name Автор:
                            div.editing__author(contenteditable='true')= painting.author
                        .editing__field
                            p.editing__attr-name Страна:
                            div.editing__country(contenteditable='true')= painting.country
                        .editing__field
                            p.editing__attr-name Цена($):

                            div.editing__price(contenteditable='true')= painting.startPrice
                        .editing__field
                            p.editing__attr-name Фото:
                            div.editing__photo(contenteditable='true')= painting.image
                        .editing__field
                            p.editing__attr-name Мин. шаг($):
                            div.editing__min-step(contenteditable='true')= painting.minStep
                        .editing__field
                            p.editing__attr-name Макс. шаг($):
                            div.editing__max-step(contenteditable='true')= painting.maxStep
                        .editing__field
                            p.editing__attr-name В аукционе?:
                            div.editing__available(contenteditable='true')= painting.available
                        button.button.editing__button Редактировать



    script(src='/js/app.min.js')



